---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} <a rel="me" href="https://hachyderm.io/@jakegut">Jake Gutierrez</a>. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
